body {
  background-color: #e7ecef;
  padding-top: 50px; 
}

.nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 100%;
  box-shadow: 0px 5px 30px #0e1c5e;
  background-color: #002e88;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  font-size: 140%;
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: bolder;
  text-align: center;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 30px 50px;
  text-decoration: none;
}

li a:hover {
  background-color: #005cbb;
}

.logo {
  padding-top: 5px;
  float: left;
  width: 80px;
  scale: 1;
  float: center;
}

::selection{
  color: #fff;
  background: #4285f4;
}
.wrapper{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  width: 370px;
  margin: 85px auto 0;
}
.select-btn{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.select-btn{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 65px;
  padding: 0 20px;
  font-size: 22px;
  background: #fff;
  border-radius: 7px;
  justify-content: space-between;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}
.wrapper.active .select-btn i{
  transform: rotate(-180deg);
}
.content{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  display: none;
  padding: 20px;
  margin-top: 15px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}
.wrapper.active .content{
  display: block;
}
.content .search{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.search i{
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #B3B3B3;
}
.search input:focus{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder{
  color: #bfbfbf;
}
.content .options{
  margin-top: 10px;
  max-height: 250px;
  overflow-y: auto;
  padding-right: 7px;
}
.options::-webkit-scrollbar{
  width: 7px;
}
.options::-webkit-scrollbar-track{
  background: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb:hover{
  background: #b3b3b3;
}
.options li{
  height: 50px;
  padding: 0 13px;
  font-size: 21px;
}
.options li:hover, li.selected{
  border-radius: 5px;
  background: #f2f2f2;
}

button {
    margin-left:34%;
    width: 30%;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 150%;
    padding: 2%;
    cursor: pointer;
    transition-duration: 0.4s;
    box-shadow: 0px 5px 5px #0e1c5e;
}

.submit-btn {
    background-color: white;
    border-radius: 50px;
    text-align: center;
    color: black;
    border: 2px solid #0e1c5e;
}

.submit-btn:hover {
    background-color: #0071d1;
    color: white;
}

